<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<style media="screen">
			.shadow {
				position: fixed;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.3;
				filter: alpha(opacity: 30);
				left: 0;
				top: 0;
			}
			
			.mod_dialog {
				width: 1075px;
				height: 435px;
				position: absolute;
		    left: 50%;
		    top:15%;
		    -ms-transform: translateX(-50%);
		    transform: translateX(-50%);
		    background: #fff;
		    border-radius: 2px;
		    box-shadow: 0 1px 3px rgba(0,0,0,.3);
		    box-sizing: border-box;
		    margin-bottom: 50px;
			}
			.el-dialog__header {
    background: #4f90d4;
    height: 48px;
    text-align: center;
}
.el-dialog__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 48px!important;
    color: #fff!important;
}
.mod_dialog form{
	width: 975px;
	height: 387px;
    background: #fff;
    color: #333;
    padding: 50px;
}
.mod_dialog form input{
	  width: 250px;
	  border: none;
    outline: none;
    background: #d9dfe5;
    border-radius: 4px;
    height: 25px;
    padding-left: 3px;
    margin-bottom: 15px;
}
.mod_dialog form textarea {
    border: none;
    outline: none;
    background: #d9dfe5;
    border-radius: 4px;
    padding-left: 3px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 880px;
    height: 140px;
    padding: 5px 10px 5px 10px;
    resize: none;
}
.mod_dialog form span {
    margin-top: 0px;
    display: block;
}
.mod_dialog form span:nth-of-type(2) {
    margin-top: 0px;
    float: left;
}
.mod_dialog form .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    margin-top: -5px;
}
.mod_dialog form .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.mod_dialog form .sub {
    float: right;
    width: 155px;
    cursor: pointer;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 60px;
    color: #fff;
    background: #4f90d4;
    border-radius: 20px;
    letter-spacing: 2px;
}
		</style>
		<title></title>
		<link rel="stylesheet" href="css/banner.css" />
	</head>

	<body>
		<div class="contain">
			<div class="header">
				<div class="logo">
					<div></div><span>奇妙创想企业图书馆</span></div>
			</div>
			<div class="box"></div>

			<div class="main">
				<aside class="menu-expanded">
					<div class="menu_title">
						添加书籍
					</div>

					<form action="?" method="post" enctype="multipart/form-data">
						书名：<input type="text" name="name" /><br>
						作者：<input type="text" name="author" /><br> 
						<span>内容简介：</span><textarea name="instroduce"></textarea><br>
						<span>封面：</span>
						<a href="javascript:;" class="file">上传封面
							<input type="file" name="f1" id="">
						</a>
						<input type="submit" value="保存" class="sub" />
					</form>
				</aside>
				<section class="contain_content">
					<table border="1" width="100%" border="1" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>序号</th>
								<th>书名</th>
								<th>作者</th>
								<th>简介</th>
								<th>图片</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0;i<banners.length;i++){ %>
							<tr>
								<td>
									<%=banners[i].ID%>
								</td>
								<td>
									<%=banners[i].name%>
								</td>
								<td>
									<%=banners[i].author%>
								</td>
								<td>
									<%=banners[i].instroduce%>
								</td>
								<td><img src="/upload/<%=banners[i].src%>" style="width: 140px;height:175px" /></td>
								<td>
									<a href="?act=mod&id=<%=banners[i].ID%>" class='btn'>修改</a>
									<a href="?act=del&id=<%=banners[i].ID%>" class='btn'>删除</a>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</section>
			</div>

			<% if(typeof mod_data!='undefined'){ %>
			<div class="shadow"></div>
			<div class="mod_dialog">
				<div class="el-dialog__header">
					<span class="el-dialog__title">修改书籍</span>
				</div>
				<form action="?" method="post" enctype="multipart/form-data">
					<input type="hidden" name="mod_id" value="<%= mod_data.ID %>" /> 书名：
					<input type="text" name="name" value="<%= mod_data.name %>" /><br> 作者：
					<input type="text" name="author" value="<%= mod_data.author %>" /><br> 
					<span>内容简介：</span>
					<textarea name="instroduce"><%= mod_data.instroduce %></textarea><br> 
					<span>封面：</span>
					<a href="javascript:;" class="file">上传封面
							<input type="file" name="f1" id="">
					</a>
					<input type="submit" value="修改"  class='sub'/>
					<a href="/admin" class='sub'>取消修改</a>
				</form>
			</div>
			<% } %>
		</div>
	</body>

</html>